@mixin h1-medium {
    font-weight: 500;
    font-size: 64px;
    line-height: 74px;
}
@mixin h1-bold {
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
}

@mixin h2-medium {
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
}
@mixin h2-bold {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

@mixin h3-medium {
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
}
@mixin h3-bold {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
}

@mixin h4-medium {
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
}

@mixin t1-medium {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
@mixin t1-bold {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

@mixin t2-medium {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
