@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

body {
  background-color: #E5E5E5;
}

html {
  scroll-behavior: smooth;
}

.container-flex {
  width: 87.5%;
  max-width: 1200px;
  display: flex;
}
@media screen and (min-width: 700px) {
  .container-flex {
    width: 90%;
  }
}
.container-grid {
  width: 87.5%;
  max-width: 1200px;
  display: grid;
}
@media screen and (min-width: 700px) {
  .container-grid {
    width: 90%;
  }
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  body .no-mobile {
    display: none;
  }
}

.btn-primary {
  display: flex;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-color-primary {
  background-color: #B3B3B3;
}
.btn-color-primary a, .btn-color-primary p {
  padding: 14px 2rem;
  color: #fff;
  text-decoration: none;
}

body nav {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
body nav div {
  display: flex;
  gap: 1rem;
}
body nav div > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
body nav div > div a {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 30px;
  color: #B3B3B3;
}
@media screen and (min-width: 900px) {
  body nav div > div:after {
    content: "";
    display: flex;
    width: 1px;
    height: 100%;
    margin-inline: 1rem;
    background-color: #B3B3B3;
  }
}
body nav div ul {
  display: flex;
  height: 100%;
  list-style: none;
  align-items: center;
  gap: 1.5rem;
}
body nav div ul li a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #848383;
}

header {
  width: 100%;
  display: grid;
  place-items: center;
}
header > div {
  gap: 1rem;
  padding-block: 40px;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}
main > div {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main > div > div:last-of-type button p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
main > div > div {
  display: grid;
  place-items: center;
  margin-block-end: 3rem;
}
main > div > div h1, main > div > div p {
  text-align: center;
  color: #848383;
}
main > div > div h1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 72px;
}
main > div > div p {
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
}
main > div > form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main > div > form h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 72px;
  color: #848383;
}
main > div > form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #B3B3B3;
}
main > div > form label input {
  padding: 0.5rem 1rem;
  border: 1px solid #B3B3B3;
  border-radius: 8px;
  background-color: transparent;
}
main > div > form > div:first-of-type {
  position: relative;
  width: 100%;
  margin-block-start: 2rem;
  padding-block: 4rem;
  border: 2px dashed #848383;
  display: grid;
  place-items: center;
}
main > div > form > div:first-of-type > i {
  font-size: 4rem;
  color: #848383;
}
main > div > form > div:first-of-type > h2 {
  margin-block-start: 1rem;
  max-width: 170px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #848383;
}
main > div > form > div:first-of-type > input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.001;
}
main > div > form > div:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
main > div > form > div:last-of-type > p {
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #B3B3B3;
  text-align: center;
}
main > div > form > div:last-of-type > label {
  max-width: 270px;
}
main > div > form > div:last-of-type > label > div {
  display: flex;
  justify-content: center;
}
main > div > form > div:last-of-type > label > div > p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 14px 1.6rem;
  color: #fff;
  text-align: center;
}
main > div .preview {
  width: 100%;
  max-width: 600px;
  margin-block-start: 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #848383;
  border-radius: 6px;
  place-items: initial;
}
main > div .preview .preview-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #848383;
  padding: 1rem;
}
main > div .preview .preview-item__info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main > div .preview .preview-item__info > i {
  color: #B3B3B3;
}
main > div .preview .preview-item__info > p {
  font-weight: 500;
  font-size: 20px;
  text-align: start;
  color: #848383;
}
main > div .preview .preview-item > span {
  cursor: pointer;
  color: #B3B3B3;
}
main > div .preview .preview-item:first-of-type {
  border: none;
}
main .dragover {
  opacity: 0.2;
}

footer {
  width: 100%;
  margin-block-start: 2rem;
  display: flex;
  justify-content: center;
  padding-block: 1.5rem;
  color: #B3B3B3;
  text-align: center;
}
footer p {
  text-align: center;
}
footer p a {
  text-decoration: underline;
  color: #848383;
}

/*# sourceMappingURL=index.css.map */
