@import './base/base.scss';
@import './components/buttons/buttons.scss';
@import './components/navbar/navbar.scss';

main {
    > div {
        > h2, > p {
            color: $primary-color;
            width: 100%;
        }
        > h2 {
            font-weight: 600;
            font-size: 56px;
            line-height: 72px;
        }
        > p {
            font-weight: 500;
            font-size: 20px;
            line-height: 160%;
        }
        img {
            width: 100%;
            max-width: 550px;
            margin-block: 1.5rem;
        }
        > div {
            width: 100%;
        }
    }
}