@import './base/base.scss';
@import './components/buttons/buttons.scss';
@import './components/navbar/navbar.scss';

main {
    > div {
        > h2, > p {
            color: $paragraph;
            width: 100%;
        }
        > h2 {
            @include h1-bold;
        }
        > p {
            @include h4-regular;
        }
        img {
            width: 100%;
            max-width: 550px;
            margin-block: 1.5rem;
        }
        > div:has(a) {
            display: flex;
            width: 100%;
            > a > p {
                padding: 11px 9.5px;
                @include t1-medium;
            }
        }
    }
}