@import './base/base.scss';
@import './components/buttons/buttons.scss';

main {
    width: 100%;
    @include desktop {
        padding-block-start: 5rem;
    }
    > div {
        place-items: center;
        section {
            width: 100%;
            max-width: 1200px;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            color: $black;
            @include mobile {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
            > div {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                @include tablet {
                    width: 50%;
                }
                h1, h2 {
                    max-width: 527px;
                }
                h1 {
                    @include h1-bold;
                }
                h2{
                    @include h4-regular;
                }
                > div {
                    margin-block-start: 39px;
                    display: flex;
                    > a > p {
                        @include h4-medium;
                    }
                }
            }
            img {
                width: 100%;
                max-width: 550px;
                @include tablet {
                    width: 50%;
                }
            }
        }
    }
}
