@import './base/base.scss';
@import './components/buttons/buttons.scss';
@import './components/navbar/navbar.scss';

// header
header {
    width: 100%;
    display: grid;
    place-items: center;
    > div {
        gap: 1rem;
        padding-block: 40px;
    }
}

// main
main {
    width: 100%;
    display: flex;
    justify-content: center;
    > div {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        > div:last-of-type {
            margin-block-end: 0;
            button p {
                @include t1-medium;
                padding: 19px 42.5px;
            }
        }
        > div {
            display: grid;
            place-items: center;
            margin-block-end: 56px;
            h1, p {
                text-align: center;
            }
            h1 {
                @include h1-bold;
            }
            p {
                @include h4-regular;
            }
        }
        > form {
            width: 100%;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h2 {
                @include h3-medium;
                color: $paragraph;
            }
            label {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;
                color: $black;
                > p {
                    @include t1-medium  ;
                    color: $higlight;
                }
                input {
                    @include h4-regular;
                    padding: .5rem 1rem;
                    border: 2px solid $higlight;
                    border-radius: 8px;
                    background-color: transparent;
                  }
            }
            > div:first-of-type {
                position: relative;
                width: 100%;
                margin-block-start: 2rem;
                padding-block: 4rem;
                border: 2px dashed $higlight;
                display: grid;
                place-items: center;
                > i {
                    font-size: 4rem;
                    color: $higlight;
                }
                > h2 {
                    margin-block-start: 1rem;
                    max-width: 170px;
                    @include t1-medium  ;
                    text-align: center;
                    color: $headline;
                }
                > input {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    opacity: 0.001;
                }
            }
            > div:last-of-type {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;
                > p {
                    @include h4-regular;
                    color: $paragraph;
                    text-align: center;
                }
                > label {
                    max-width: 270px;
                    > div {
                        display: flex;
                        justify-content: center;
                        > p {
                            @include t1-medium;
                            padding: 3px 45px;
                            color: #fff;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .preview {
            width: 100%;
            max-width: 600px;
            margin-block-start: 2rem;
            display: flex;
            flex-direction: column;
            border: 1px solid $higlight;
            border-radius: 6px;
            place-items: initial;
            .preview-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid $higlight;
                padding: 1rem;
                &__info {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    > i {
                        color: $higlight;
                    }
                    > p {
                        @include t1-medium;
                        text-align: start;
                        color: $paragraph;
                    }
                }
                > span {
                    cursor: pointer;
                    color: $higlight;
                }
            }
            .preview-item:first-of-type {
                border: none;
            }
        }
    }
    .dragover {
        opacity: .2;
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-block: 1.5rem;
    color: $paragraph;
    text-align: center;
    p {
        @include t1-medium;
        text-align: center;
        a {
            text-decoration: underline;
            color: $higlight;
        }
    }
}
