body nav {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    div {
        display: flex;
        gap: 1rem;
        > div {
            display: flex;
            align-items: center;
            gap: 1rem;
            @include onMobile {
                &:after {
                    content: '';
                    display: flex;
                    width: 2px;
                    height: 100%;
                    max-height: 25px;
                    margin-inline: 1rem;
                    border-radius: 1px;
                    background-color: $black;
                }
            }
        }
        > div:first-of-type > a {
            @include h4-medium;
        }
        ul {
            display: flex;
            height: 100%;
            list-style: none;
            align-items: center;
            gap: 1.5rem;
            li a {
                @include h4-regular;
            }
        }
    }
    > a > p {
        @include h4-regular;
    }
}